<h1>Teams</h1>
<a href="/hockeyteams/new">New Team</a>
<% (@hockey_teams.order("hockey_teams.created_at DESC")).each do |hockey_team| %>
  <h3><a href="/hockeyteams/<%= hockey_team.id %>"><b><%= hockey_team.name %></b></a>      <small><i><a href="/hockeyteams/<%= hockey_team.id %>/edit">Edit Team</a></small></i>     (<small><i><%= hockey_team.created_at%></i></small>)</h3>
<% end %>
