<form action="/hockeyteams" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <h1>Create a new Team:</h1>
  <p>Name: <input type="text" name="hockey_team[name]"></p>
  <p>City: <input type="text" name="hockey_team[city]"></p>
  <p>Rank: <input type="number" name="hockey_team[rank]" min="1" max="31"></p>
  <p>Original Franchise? <input list="Original Franchise" name="hockey_team[original_franchise]">
  <datalist id="Original Franchise">
    <option value="TRUE">
    <option value="FALSE">
  </datalist>
  </p>
  <p>Stanley Cups: <input type="number" name="hockey_team[stanley_cups]"></p>
  <input type="submit"/>
</form>