<a href="/players">Players Who Played College</a><br>
<a href="/hockeyteams">Hockey Teams</a><br>
<form action="/hockeyteams/:id/players" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <h1>Create a New Player</h1>
  <label for="name">Name:</label>
  <input type="text" name="player[name]" id="name"><br><br>
  <label for="age">Age:</label> 
  <input type="text" name="player[age]" id="age"><br><br>
  <label for="years played">Years played:</label> 
  <input type="number" name="player[years_played]"><br><br>
  <label for="Attended College">Attended College?:</label> 
  <input list="Attended College" name="player[attended_college]">
    <datalist id="Attended College">
      <option value="TRUE">
      <option value="FALSE">
    </datalist><br><br>
  <input type="hidden" name="team_id" value="<%= @team.id %>">
  <input type="submit" /> 
</form>